<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Wallet App</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="divider"></li>
          <li><%= link_to 'Create a category', new_category_path %></li>
          <li><%= link_to 'Create a cost', new_cost_path %></li>
          <li><%= link_to 'Create a income', new_income_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>