<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Categories', categories_path %></li>
  <li class="active"><%= link_to 'View Costs', costs_path %></li>
  <li><%= link_to 'View Incomes', incomes_path %></li>
</ul>

<h1>Listing Costs</h1>

<table class="table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @costs.each do |cost| %>
      <tr>
        <td>
          <span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{cost.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{cost.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>">
            <%= "$#{cost.amount}" %>
          </span>
          <% if cost.amount? %>
              <!-- Modal -->
              <div class="modal fade" id="cost-<%= cost.id %>-amounts" tabindex="-1" role="dialog" aria-labelledby="cost-<%= cost.id %>-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="cost-<%= cost.id %>-label">Amount</h4>
                    </div>
                    <div class="modal-body">
                      <%= cost.amount %>
                    </div>

                  </div>
                </div>
              </div>
          <% end %>

        </td>
        <td><%= link_to cost.category.name, cost.category %></td>
        <td><%= link_to 'Show', cost, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn
        btn-danger btn-xs' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_cost_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Cost
<% end %>
