<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @cost.category.name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= "$#{@cost.amount}" %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Back', costs_path, class: 'btn btn-danger btn-xs' %>
