<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% @income.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="col-sm-10">
      <%= f.number_field :amount, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-sm-10">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Select Category'}, class:
                                                  'form-control', required: true) %>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <div class="actions form-group">
    <div class="col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
