<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Categories', categories_path %></li>
  <li><%= link_to 'View Costs', costs_path %></li>
  <li class="active"><%= link_to 'View Incomes', incomes_path %></li>
</ul>


<h1>Listing Incomes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @incomes.each do |income| %>
    <tr>
      <td>
          <span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{income.created_at.strftime("%m/%e/%Y
           at %w:%M %p")}, Last modified on #{income.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>">
            <%= "$#{income.amount}" %>
          </span>
        <% if income.amount? %>
          <!-- Modal -->
          <div class="modal fade" id="income-<%= income.id %>-amounts" tabindex="-1" role="dialog"
               aria-labelledby="income-<%= income.id %>-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="income-<%= income.id %>-label">Amount</h4>
                </div>
                <div class="modal-body">
                  <%= income.amount %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <td><%= link_to income.category.name, income.category %></td>
      <td><%= link_to 'Show', income, class: 'btn btn-primary btn-xs' %></td>
      <td><%= link_to 'Edit', edit_income_path(income), class: 'btn btn-info btn-xs' %></td>
      <td><%= link_to 'Destroy', income, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn
        btn-danger btn-xs' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_income_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Income
<% end %>
