<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @income.category.name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= "$#{@income.amount}" %>
</p>

<%= link_to 'Edit', edit_income_path(@income), class: 'btn btn-info btn-xs' %>  |
<%= link_to 'Back', incomes_path, class: 'btn btn-danger btn-xs' %>
