<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View Categories', categories_path %></li>
  <li><%= link_to 'View Costs', costs_path %></li>
  <li><%= link_to 'View Incomes', incomes_path %></li>
</ul>

<h1>Listing Categories</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Costs</th>
    <th>Income</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td>
          <span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{category.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{category.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>">
            <%= category.name %>
          </span>
      </td>
      <td>

        <% if !Cost.where(category_id: category.id).nil? %>
          <%= "-$#{Cost.where(category_id: category.id).sum(:amount)}" %>

          <!-- Modal -->
          <div class="modal fade" id="category-<%= category.id %>-names" tabindex="-1" role="dialog" aria-labelledby="category-<%= category.id %>-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="category-<%= category.id %>-label">Name</h4>
                </div>
                <div class="modal-body">
                  <%= category.name %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </td>
      <td>
        <% if !Income.where(category_id: category.id).nil? %>
          <%= "$#{Income.where(category_id: category.id).sum(:amount)}" %>
        <% end %>
      </td>

      <td>
        <% if !Cost.where(category_id: category.id).nil? && !Income.where(category_id: category.id).nil? %>
          <%= "$#{Income.where(category_id: category.id).sum(:amount) - Cost.where(category_id: category.id).sum(:amount)}" %>
        <% end %>
      </td>

      <td><%= link_to 'Show', category, class: 'btn btn-primary btn-xs' %></td>
      <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-info btn-xs' %></td>
      <td><%= link_to 'Destroy', category, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn
        btn-danger btn-xs' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_category_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Category
<% end %>